[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai-whisper = "*"
python-dotenv = "*"
langchain-community = "*"
langchain-cohere = "*"

[dev-packages]

[requires]
python_version = "3.12"
